@import './variables.scss';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}html {
 font-family: quiche-sans,sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing: .1rem;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background: black;
  color:$yellow1;
//  background: radial-gradient($blue2, $blue);
 background: radial-gradient( $orange3, $orange2, $orange1);
  padding: 1rem; 
}
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }
