$primary: rgb(23, 131, 134);
$primary2: rgb(17, 102, 105);
$primary-light:rgb(45,130,106);
$primary-light2: rgb(45,130,106);
$primary-grey: #777;
$primary-white: #fff;
$black: rgb(0, 0, 0);
$black-med: rgba(0, 0, 0, 0.418);
$red: rgba(202, 49, 43, 0.746);
$black-clear: rgba(240, 235, 235, 0.276);
$grey-light-1: #f7f7f7;
$grey-med: #eee;
$darkgrey: #999;
$darkgrey-2: #333;
$newGreen: rgb(32,133,96);
 $blue: #98b5cc;
$yellow: #d84603;
$yellow1: #c1810ad2;
// $yellow1: #e9aa0ad2;
// $yellow2: #a30202;
$yellow2: #b37c18d7;
$yellow3: #423419d7;
$whiteShadow: rgba(#fff, .4);
$shadow: rgba($yellow, .5);
$h1:  rgba(45,45,45,1);


$grid-width: 135rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
