$primary-white: #fff;
$black: rgb(8, 7, 7);
$black-med: rgba(0, 0, 0, 0.6);
$black-clear: rgba(240, 235, 235, 0.276);
$grey-med: #eee;
$darkgrey: #999;
$darkgrey-2: #333;
$newGreen: rgb(32,133,96);
 $blue: #38756e;
 $blue2: rgb(146, 204, 180);
$yellow: #d84603; //orange bright
$yellow1: #F56204; //orange
$yellow2: #F56204;
$peach: rgb(238, 205, 175);
$border: #e6af2e;

$yellow3: #423419d7;
$whiteShadow: rgba(#fff, .4);
$whiteShadow1: rgba(206,206,206, .8);
$shadow: rgba($yellow, .5);
$h1:  rgba(45,45,45,1);


$grid-width: 135rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$orange1: #F56204; //darker orange
$orange11: rgba(245, 96, 4, 0.61); //darker orange
$peach1: rgb(238, 148, 92); //darker orange
$orange2: rgb(245, 108, 5); //dark med orange
$orange3:rgb(233, 142, 85);// med dark orange
